.background-contact{
  background-image: url("../assets/bk3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-page {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background: rgba(255, 247, 247, 0.76);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  font-size: 24px;
  color: #d46a6a;
  font-family: "Georgia", "Times New Roman", serif;
}

.description {
  text-align: center;
  margin-bottom: 20px;
  color: #555;
  font-family: "Georgia", "Times New Roman", serif;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 16px;
  color: #333;
}

input,
textarea {
  font-family: "Georgia", "Times New Roman", serif;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

textarea {
  resize: none;
}

.is-invalid {
  border-color: #d46a6a;
}

.error-message {
  font-size: 12px;
  color: #d46a6a;
  margin-top: 5px;
}

.btn-submit {
  font-family: "Georgia", "Times New Roman", serif;
  padding: 10px 20px;
  background: #d46a6a;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-submit:hover {
  background: #c85a5a;
}

.success-message {
    background: #d4edda;
    color: #155724;
    padding: 15px;
    border: 1px solid #c3e6cb;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;
  }