.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    background-color: #f8d6e7;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
  }

  .modal-content input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ff66b2;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .modal-content button {
    padding: 10px;
    margin: 5px;
    background-color: #ff66b2;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }

  .modal-content button:hover {
    background-color: #ff3385;
  }

.section-settings {
  background-image: url("../assets/bk4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.settings-container {
  max-width: 500px;
  margin: 20px auto;
  padding: 60px;
  background-color: rgba(248, 246, 246, 0.56);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

  h2 {
    text-align: center;
    color: #d5064e;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input, span {
    display: block;
    margin-bottom: 10px;
  }

  button {
    padding: 10px 15px;
    border: none;
    background-color: #ffe4e1;
    color: rgb(227, 120, 120);
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #f3cac6;
  }

  p {
    text-align: center;
    color: rgba(51, 51, 51, 0.85);
  }
  .delete-account-btn{
    background-color: #ff3385;
    color: rgba(244, 228, 228, 0.85);

  }